* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.App {
  width: 100vh;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.2rem;
}

.box {
  background-color: rgb(63, 63, 63);
  color: aliceblue;
  font-size: 15vh;
  padding: 25% 0%;
  /* line-height: 200%; */
  text-align: center;
}
